:root {
  display: block;
}
:root * {
  box-sizing: border-box;
}

/* header/body up-down accordion collapsibles */
.hce-header {
  padding: 12px;
  cursor: pointer;
  color: #FFF;
  background: #333;
}
.expanded .hce-body {
  min-height: 120px;
  padding: 12px;
}
:not(.expanded) .hce-body {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

/* header/body left-right accordion collapsibles */
:root.horizontal {
  display: flex;
  align-items: stretch;
}
:root.horizontal > * {
  display: flex;
  align-items: stretch;
}
:root.horizontal .hce-header {
  word-wrap: break-word;
  padding: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
:root.horizontal .hce-header:empty {
  padding: 4px;
}
:root.horizontal .expanded .hce-body {
  min-width: 240px;
}

/* body/header left-right accordion collapsibles */
:root.horizontal .sidebar {
}
