:root {
  display: block;
}
:root * {
  box-sizing: border-box;
}

/* header/body up-down accordion collapsibles */
.hce-header {
  cursor: pointer;
  color: #FFF;
  background: #CCC;
}
.hce-body {
  overflow: hidden;
  /*transition: all .5s ease;*/
}
:not(.expanded) .hce-body {
  height: 0;
  transform: translateY(-100%)
}
.expanded .hce-body {
  min-height: 120px;
  transform: translateY(0)
}

/* header/body left-right accordion collapsibles */
:root.horizontal {
  display: flex;
  align-items: stretch;
}
:root.horizontal > * {
  display: flex;
  align-items: stretch;
}
:root.horizontal .hce-header {
  word-wrap: break-word;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
:root.horizontal .hce-header:empty {
  padding: 4px;
}

:root.horizontal :not(.expanded) .hce-body {
  width: 0;
  transform: translateX(-100%)
}
:root.horizontal .expanded .hce-body {
  min-width: 240px;
  transform: translateX(0)
}
