  :root {
    display: block
  }
  .hce-tabs {
    border-bottom: 1px solid #999;
    display: flex;
  }
  .hce-tabs [tab] {
    border: 1px solid #999;
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
  }
  .hce-tabs [tab].selected {
    background: #FFF;
    border-bottom: 1px solid transparent;
  }
  .hce-tabs [tab][disabled] {
    opacity: 0.5;
  }

  .hce-contents [tab] {
    display: none;
    transition: opacity .25s;
  }
  .hce-contents [tab].selected {
    display: block;
  }