  a { text-decoration: none; white-space: nowrap; text-transform: uppercase }
  li[disabled] {opacity: 0.5;}

  /* submenu */
  li > ul { 
    width: 0;
    height: 0;
    display: none;
    border: 1px solid transparent;
  } /* hide all submenus in default */
  :root:not(.selected) li:not([disabled]).has-submenu:hover > ul,
  :root:not(.selected) li:not([disabled]).has-submenu:focus > ul,
  :root:not(.selected) li:not([disabled]).has-submenu.submenu-open > ul {
    width: auto;
    height: auto;
    display: block;
    transition: opacity .25s;
  }

  /* basic styles */
  :root.basic a { transition: all .25s; color: inherit }
  :root.basic a:hover { color: #fff }
  :root.basic ul { margin: 0; padding: 0; list-style: none; background: #333; color: #fff }
  :root.basic li { padding: 8px; position: relative; color: #aaa; }

  :root.basic > ul > li { padding: 15px; }   
  :root.basic > ul > li:after, :root.basic > ul > li:after { 
    content: ' '; display: block; position: absolute; bottom: 4px; left: 0;
    width: 100%; height: 2px; opacity: 0; background: #0FF; 
  }
  :root.basic > ul > li:not([disabled]):hover:after, 
  :root.basic > ul > li:focus:after { 
    opacity: 1; transition:all .25s;
  }

  :root.basic > ul > li.selected  { color: #fff; }
  :root.basic li ul{ position: absolute; }  /* submenu items */

  :root.top > ul { display: flex; justify-content: space-around }
  :root.top li > ul ul { top: 1px; left: 100%; } /* submenu items */
  :root.top li > ul { top: 100%; left: 0;}

  :root.bottom > ul { display: flex; justify-content: space-around }
  :root.bottom li > ul ul { bottom: 0; left: 100% } /* submenu items */
  :root.bottom li > ul { bottom: 100%; left: 0;}     /* submenu items */

  :root.left > ul { display: inline-block; }       
  :root.left li > ul {top: 0; left: 100%;}   /* submenu items */

  :root.right > ul { display: inline-block; }
  :root.right li > ul {top: 0; right: 100%;} /* submenu items */