:root {
  display: block;
  position: relative;
  width: 100%;
  min-width: 500px;
  min-height: 200px;
}

.button-container {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.prev.button-container { 
  left: 0; 
}

.next.button-container {
 right: 0; 
}

.button-container > button {
  display: block;
  border: 0;
  padding: 0;
  font-size: 32px;
  color: #FFF;
  background-color: #CCC;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  line-height: 44px;
  opacity: .5;
  text-align: center;
  text-decoration: none;
}

.button-container > button:hover {
  opacity: .9;
}

.button-container > button:focus {
  opacity: .9;
}

.carousel-list {
  display: flex;
  margin: 0;
  position: absolute;
  padding: 0;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}

.carousel-list > * {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0.6;
}

.carousel-list > li[tabindex] {
  opacity: 1;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.shortcuts {
  display: block;
  margin: 0;
  position: absolute;
  bottom: 12px;
  padding: 0;
  width: 100%;
  text-align: center;
}

.shortcuts > * {
  display: inline-block;
  margin: 0 1px;
  list-style: none;
  color: #FFF;
  border-radius: 50%;
  background: #FFF;
  width: 12px;
  height: 12px;
  opacity: .5;
}

.shortcuts > *.active {
  opacity: .9;
}